.favorites-panel {
    padding: 5px;
    .favorites-title {
        font-weight: bold;
    }
    .favorites-item {
        padding: 5px;
        cursor: pointer;
        &:hover {
            background-color: $color4;
            color: $color2;
        }
    }
    .favorites-add-button {
        color: $color5;
    }
    .favorites-close {
        float: right;
        cursor: pointer;
    }
}