
.path-bar {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    .path-bar-up-button {
        &:hover {
            background-color: $color4;
        }
    }
    .path-bar-path-string {
        flex-grow: 1;
        text-align: center;
    }
}
