.tab-bar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
    .tab-bar-item {
        min-width: 100px;
        max-width: 200px;
        padding: 5px;
        border: 1px solid black;
        display: flex;
        
        &:hover {
            background-color: $color4;
        }
        .tab-bar-path {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            flex-grow: 1;
        }
        .tab-bar-close:hover {
            background-color: $color1;
        }
        
        &.active {
            background-color: $color4;
        }
    }
    .tab-bar-new-tab {
        padding: 5px;
        border: 1px solid black;
        &:hover {
            background-color: $color4;
        }
    }
}