@font-face
    font-family: 'Work Sans'
    font-style: normal
    src url('./fonts/WorkSans-Regular.woff2') format('woff')

@font-face
    font-family: 'Work Sans Bold'
    font-style: normal
    src url('./fonts/WorkSans-Bold.woff2') format('woff')