@import './fonts'
@import './colors'
body 
    font-family: 'Lato'
    font-size: 20px
    background-color: $color2
    padding: 0
    margin: 0
    cursor: default

.contents
    margin: 20px
    display: flex
    flex-direction: row
    flex-wrap: wrap

.contents-item
    padding: 4px
    margin: 2px
    width: 120px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    cursor: pointer

    &.selected
        background-color: $color4

.file:hover
    background: $color5
    font-color: $color2

.title-bar
    display: flex
    align-content: baseline
    .title-bar-draggable-area
        flex-grow: 1
        -webkit-app-region: drag
    .title-bar-buttons
        display: flex
    .title-bar-button
        padding: 2px
        color: $color1
.tab-bar
    display: flex
    flex-direction: row
    align-items: baseline
    border: 1px solid black

.tab-bar-item
    min-width: 100px
    max-width: 200px
    padding: 5px
    border: 1px solid black
    display: flex

    .tab-bar-path
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        flex-grow: 1

    .tab-bar-close:hover
        background-color: $color1
    
    &.active
        background-color: $color4

.path-bar
    border: 1px solid black
    padding: 5px
    display: flex

    .path-bar-up-button
        background-color: $color4
        border-radius: 100%
    
    .path-bar-path-string
        flex-grow: 1
        text-align: center
    
.favorites-panel
    padding: 5px
    .favorites-title
        font-weight: bold
    .favorites-item
        cursor: pointer
    .favorites-add-button
        background-color: $color1
