.file-list
    display: flex
    flex-direction: row
    flex-wrap: wrap

.file
    padding: 4px
    margin: 2px
    width: 120px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.file:hover
    background: lightblue

.tab-bar
    display: flex
    flex-direction: row
    border: 1px solid black

.tab-bar-item
    width: 100px
    padding: 5px
    border: 1px solid black

    .close
        float: right
    
    &.active
        background-color: lightblue