.file-list
    display: flex
    flex-direction: row
    flex-wrap: wrap

.file
    padding: 4px
    margin: 2px
    width: 120px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.file:hover
    background: lightblue