@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    src: url('./Merriweather-Regular.ttf');
}

:root {
    --color1: rgba(230, 57, 70, 1);
    --color2: rgba(241, 250, 238, 1);
    --color3: rgba(168, 218, 220, 1);
    --color4: rgba(69, 123, 157, 1);
    --color5: rgba(29, 53, 87, 1);
}

body {
    font-family: 'Merriweather';
    font-size: 20px;
    background-color: --color2;
    padding: 0;
    margin: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
  }
  #container {
    display: grid;
    align-content: start;
    height: 100vh;
    width: 100vw;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "title-bar title-bar title-bar" "path-bar path-bar path-bar" "favorites contents properties" "favorites staging-area staging-area";
  }
  #title-bar {
    grid-area: title-bar;
  }
  #path-bar {
    grid-area: path-bar;
  }
  #favorites {
    width: 20vw;
    overflow-x: auto;
    overflow-y: auto;
    grid-area: favorites;
  }
  #contents {
    overflow-x: auto;
    overflow-y: auto;
    grid-area: contents;
  }
  #properties {
    width: 20vw;
    overflow-x: auto;
    overflow-y: auto;
    grid-area: properties;
  }
  #staging-area {
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: auto;
    grid-area: staging-area;
  }
  .contents {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 1s ease;
  }
  .contents .contents-item {
    padding: 5px;
    margin: 2px;
    width: 20vw;
    cursor: pointer;
  }
  .contents .contents-item.selected {
    background-color: var(--color4);
    color: var(--color2);
  }
  .contents .contents-item:hover {
    background-color: var(--color4);
    color: var(--color2);
  }
  .contents .contents-item .contents-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
  }
  .contents .contents-item .contents-item-size {
    font-size: 0.6em;
  }
  .title-bar {
    display: flex;
    align-content: justify;
    align-items: stretch;
  }
  .title-bar .title-bar-draggable-area {
    flex-grow: 1;
    -webkit-app-region: drag;
  }
  .title-bar .title-bar-buttons {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .title-bar .title-bar-button {
    padding-left: 8px;
    padding-right: 8px;
    color: var(--color1);
  }
  .title-bar .title-bar-button:hover {
    background-color: var(--color1);
    color: var(--color2);
  }
  .tab-bar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border: 1px solid #000;
  }
  .tab-bar .tab-bar-item {
    min-width: 100px;
    max-width: 200px;
    padding: 5px;
    border: 1px solid #000;
    display: flex;
  }
  .tab-bar .tab-bar-item:hover {
    background-color: var(--color4);
  }
  .tab-bar .tab-bar-item .tab-bar-path {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
  }
  .tab-bar .tab-bar-item .tab-bar-close:hover {
    background-color: var(--color1);
  }
  .tab-bar .tab-bar-item.active {
    background-color: var(--color4);
  }
  .tab-bar .tab-bar-new-tab {
    padding: 5px;
    border: 1px solid #000;
  }
  .tab-bar .tab-bar-new-tab:hover {
    background-color: var(--color4);
  }
  .path-bar {
    border: 1px solid #000;
    padding: 5px;
    display: flex;
  }
  .path-bar .path-bar-up-button:hover {
    background-color: var(--color4);
  }
  .path-bar .path-bar-path-string {
    flex-grow: 1;
    text-align: center;
  }
  .favorites-panel {
    padding: 5px;
  }
  .favorites-panel .favorites-title {
    font-weight: bold;
  }
  .favorites-panel .favorites-item {
    padding: 5px;
    cursor: pointer;
  }
  .favorites-panel .favorites-item:hover {
    background-color: var(--color4);
    color: (--color2);
  }
  .favorites-panel .favorites-add-button {
    color: (--color5);
  }
  .staging-area .staging-area-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .staging-area .staging-area-items .staging-area-item {
    display: flex;
    flex-direction: row;
    min-width: 120px;
    margin: 5px;
  }
  .staging-area .staging-area-items .staging-area-item .staging-area-item-name {
    flex-grow: 1;
  }
  .staging-area .staging-area-items .staging-area-item .staging-area-item-remove {
    background: var(--color1);
  }
  